{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],

  "plugins": [
    "lodash",
    "syntax-dynamic-import",
    ["import-inspector", {
      "serverSideRequirePath": true,
      "webpackRequireWeakId": true
    }],
    "babel-plugin-dynamic-import-node",
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-react-display-name"
  ],

  "env": {
    "development": {
      "plugins": [
        "typecheck",
        ["react-transform", {
            "transforms": [{
                "transform": "react-transform-catch-errors",
                "imports": ["react", "redbox-react"]
              }
            ]
        }]
      ]
    }
  }
}
