$c-black: #000000;
$c-abbey: #464647;
$c-slightly-darker: #333333;
$c-white: #FFFFFF;
$c-desert-storm: #FCFCFB;
$c-green: #38bb6c;
$c-lime-green: #b9bf43;
$c-coral: #ff6666;
$c-burnt-sienna: #EF5557;
$c-biscay: #1c3866;
$c-primary-blue: #234a7a;
$c-bay-of-many: #204D74;
$c-st-tropaz: #286090;
$c-cornflower-blue: #4F73B2;
$c-azure: #2e6da4;
$c-astral: #337ab7;
$c-blue: #2196F3;
$c-lynch: #627593;
$c-bunting: #152846;
$c-gray: #909090;
$c-dusty-gray: #9C9C9C;
$c-boulder: #777777;
$c-silver: #C7C7C7;
$c-light-gray: #cfcfcf;
$c-mischka: #CFD0DE;
$c-geyser: #DDE1E8;
$c-athens-gray: #EEF0F3;
$c-quill-gray: #E5E5E4;

$c-success: $c-green;
$c-danger: $c-burnt-sienna;

$c-text-primary-color: $c-primary-blue;

$c-body-color: $c-abbey;

$c-form-block-border: $c-quill-gray;
$c-form-label-color: $c-gray;
$c-divider-border: $c-desert-storm;

$c-input-placeholder: $c-boulder;
