@import "./../../../styles/references/references";

.modal {
	$c-modal-color: $c-white;
	$c-modal-bg: $c-white;
	$c-modal-border: $c-light-gray;
	$c-modal-header-info-bg: $c-blue;
	$c-modal-header-bg: $c-primary-blue;
	$c-modal-header-error-bg: $c-burnt-sienna;
	$c-modal-header-info-text: $c-white;
	$c-modal-header-error-text: $c-white;
	$c-modal-content-border: $c-dusty-gray;
	$c-modal-shadow: $c-boulder;

	outline: 0;

	.modal-dialog {
		pointer-events: auto;
		position: relative;
		width: auto;

		@media (min-width: $tablet-width) {
			display: flex;
			justify-content: center;
		}
		@media (max-width: $tablet-width) {
			min-width: 100%;
		}
		@media (max-width: $min-mobile-width) {
			min-width: $min-mobile-width;
		}
	}

	.modal-content {
		background-color: $c-modal-bg;
		border: 1px solid $c-modal-content-border;
		box-shadow: 0 3px 9px $c-modal-shadow;
		position: relative;
		outline: 0;
		background-clip: padding-box;

		@media (min-width: $tablet-width) {
			box-shadow: 0 5px 15px $c-modal-shadow;
		}
	}

	.modal-header {
		padding: 15px;
		border-bottom: 1px solid $c-modal-border;
		background-color: $c-modal-header-bg;
		color: $c-modal-color;
	}

	&-error {
		.modal-header {
			background-color: $c-modal-header-error-bg;
			color: $c-modal-header-error-text;
		}
	}

	.modal-title {
		font-size: 24px;
		font-weight: 300;
		margin: 0;
		line-height: 1.42857143;
		color: $c-modal-header-info-text;
	}

	.close {
		color: $c-modal-color;
		margin-top: -2px;
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		float: right;
		font-size: 21px;
		font-weight: 700;
		line-height: 1;
		opacity: 0.7;

		&:hover {
			opacity: 1;
		}
	}

	.modal-body {
		position: relative;
		padding: 15px;
	}
}

.modal-footer {
	padding: 15px;
	text-align: right;

	.btn {
		margin-right: 10px;
	}

	.btn:last-child {
		margin-right: 0;
	}
}

.modal-info {
	.modal-content {
		min-width: 400px;
		margin: 0 auto;
		text-align: center;
	}

	.modal-footer {
		display: flex;
		padding: 10px 0;

		.btn {
			margin: 0 auto;
			min-width: 100px;

			@include mobile {
				width: 100%;
			}
		}
	}
}

.ReactModal__Overlay {
	z-index: 1080;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	@media (min-width: $tablet-width) {
		align-items: center;
	}
}

.ReactModal__Body--open {
	overflow-y: hidden;
}

.ReactModal__Content {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}
