@import "../references/references";

.form-block {
	display: flex;
	flex-flow: column wrap;
	border-bottom: 2px solid $c-form-block-border;
	margin: 20px 0;
	padding-bottom: 20px;

	.form-group {
		width: 100%;

		@media (min-width: $tablet-width) {
			width: 50%;
		}
	}
	.short-form-group {
		@media (min-width: $tablet-width) {
			width: 25%;
		}
	}

	.long-form-group {
		width: 100%;
		max-height: none;
		@media (min-width: $tablet-width) {
			width: 80%;
		}
	}
}

.form-group {
	display: flex;
	margin-bottom: 0;
	flex-wrap: wrap;
	max-height: 80px;

	.field {
		input[type="checkbox"] {
			width: auto;
		}
	}

	&.inverse-form-group {
		.field {
			padding-left: 15px;
		}

		.control-label {
			width: auto;
			padding-top: 0;
		}
	}

	&.centred-form-group {
		align-items: center;
	}

	&.justify-centred-form-group {
		justify-content: center;
	}

	.control-label {
		width: 100%;
		padding-left: 17px;
		color: $c-form-label-color;

		@media (min-width: $tablet-width) {
			padding-top: 5px;
			margin-bottom: 0;
		}
	}
	.control-field {
		flex-grow: 1;
		margin-left: 15px;
		margin-right: 15px;
		min-height: 55px;
		text-align: right;

		input:-ms-input-placeholder {
			color: $c-input-placeholder;
		}
	}
}

.without-label {
	padding-left: 0;
	@media (min-width: $tablet-width) {
		padding-left: 17%;
	}
}

.divider {
	border-color: $c-divider-border;
	width: 250px;
	margin-top: 30px;
	margin-bottom: 30px
}
