@font-face {
	font-family: 'FromCartoonBlocks';
	src: url('font.eot') format('embedded-opentype'),
		 url('font.woff2') format('woff2'),
		 url('font.woff') format('woff'),
		 url('font.ttf')  format('truetype');
}

body,
button,
input,
optgroup,
select,
textarea {
	font-family: 'FromCartoonBlocks', sans-serif, Arial;
}

html {
	background-image: url("/themes/bank2/background.png");
	background-repeat: repeat-y;
}

.header {
	background-image: url("/themes/bank2/header-background.png");
}

.header .navbar-brand .logo {
	background-position-y: -18px;
	background-color: white;
	background-image: url("/themes/bank2/logo.png");
}

.header .breadcrumbs {
	background-color: transparent;
}

.header .breadcrumbs li {
	color: white;
}

.header .breadcrumbs li.active {
	text-decoration: underline;
	color: greenyellow;
}

.register-form {
	background: rgba(0, 0, 0, 0.3);
	border: 15px solid rgba(0, 0, 0, 0.3);
}

.register-form .form-group .control-label {
	width: 100%;
	padding-left: 15px;
	font-weight: 700;
	text-align: left;
}

.register-form .form-group {
	flex-direction: column;
}

.register-form .email-group .control-label {
	color: white;
}

.register-form .captcha-image-cnt button {
	background-color: orangered;
	border: 0;
	border-radius: 0;
}

.register-form input {
	border: 0;
	border-radius: 0;
}

.register-form [type="submit"] {
	background-color: orangered;
	border: 0;
	border-radius: 0;
}


.form-page .personal-info .panel-body {
	flex-direction: column-reverse;
	display: flex;
}

.form-page .personal-info .form-group .control-label {
	text-align: left;
}

.form-page .expandable-panel .panel-expanded {
	transition: max-height .25s ease;
	will-change: max-height;
	max-height: 580px;
}

.form-page .expandable-panel .panel-expanded.closed {
	max-height: 0;
	height: auto;
}

.form-page .personal-info .panel-heading {
	background-color: orangered;
}

.form-page .personal-info .emirates-id-group {
	color: rgba(120,0,120,0.5);
}

.form-page .personal-info .emirates-id-group input {
	color: rgba(120,0,120,0.5);
}

.form-page .chose-files-group .btn {
	border-radius: 50%;
	color: white;
}

.form-page .personal-info .emirates-id-group input::-webkit-input-placeholder {
	color: rgba(120,0,120,0.2);
}

.form-page .bank-requsites .panel-heading {
	background-color: orangered;
}

.form-page .documents-files .panel-heading {
	background-color: orangered;
}

.form-page .currency .panel-heading {
	background-color: orangered;
}

.form-page .documents .panel-heading {
	background-color: orangered;
}

.form-page .pictures-files .panel-heading {
	background-color: orangered;
}

.form-page [type="submit"] {
	border: 0;
	border-radius: 0;
	background-color: orangered;
	width: 100%;
	font-size: 70px;
	transition: all 0.15s ease;
}

.form-page [type="submit"]:hover {
	background-color: orangered;
	font-size: 100px;
}


.status-page {
	background-color: rgba(0,0,0,.3);
	border: 15px solid rgba(0,0,0,.3);
}

.status-page .status-block {
	background-color: transparent;
	color: white;
}
