@import "./references/_references";
@import "./components/icons";
@import "./components/buttons";
@import "./components/inputs";
@import "./components/forms";
@import "./components/controls";
@import "./common/utilities";
@import "./common/lists";
@import "./common/links";
@import "./common/text";
@import "./common/animations";
@import "./layout/grid";
@import "./layout/page";
@import "./fonts/gotham";

$main-text-color: $c-biscay;

* {
	box-sizing: border-box;
	color: $main-text-color;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100px; // IE hack to make max-width work
	min-height: 100vh;
	-webkit-font-smoothing: antialiased;
}

html {
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	font-family: 'Gotham', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: $c-body-color;
	min-width: $min-mobile-width;
}

.page {
	display: flex;
	padding: $header-height 0 0;
	flex: 1 0 auto;
	width: 100%;
}

.grecaptcha-badge {
	display: none;
}
