@import "../../../styles/references/references";

$interval: 20px;

.landing {
	$c-bg: $c-desert-storm;
	$c-partners-bg: $c-cornflower-blue;
	$c-panel-bg: $c-coral;
	$c-app-version-text: $c-coral;
	$c-footer-bg: $c-white;
	$c-partners-border: $c-quill-gray;
	$c-button-color: $c-white;
	$c-text-color: $c-white;
	$c-primary-text-color: $c-azure;

	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: row;
	min-height: 100vh;
	padding: 0 0 30px;
	justify-content: center;
	background-color: $c-bg;

	.landing-bg {
		background-image: url(/images/landing-image-1024.jpg);
		background-size: auto 85%;
		background-repeat: no-repeat;
		background-position-x: center;
		width: 100%;

		@media screen and (min-width: $tablet-width) {
			background-size: cover;
		}
	}

	.landing-header {
		width: 100%;
		padding: 20px 20px 0;
		@media screen and (min-width: $tablet-width) {
			padding: 30px 0 0;
			width: 90%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.logo {
		height: 30px;
		background-repeat: no-repeat;
	}

	.landing-jumbotron {
		padding: 60px 0 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@media screen and (min-width: $tablet-width) {
			width: 96%;
			margin-left: auto;
			margin-right: auto;
			padding: 60px 0;
			flex-wrap: wrap;
			max-height: 650px;
			align-items: flex-start;
			margin-top: 100px;
			margin-bottom: 180px;
		}
	}

	.landing-title {
		padding: 0 20px;
		order: 0;
		margin: 0 auto 0 50px;
		width: 50%;
		font-weight: 500;
		color: $c-panel-bg;
		@media screen and (min-width: $tablet-width) {
			font-size: 60px;
			font-weight: 400;
			margin: 0;
		}
	}

	.promo-panel {
		list-style-position: inside;
		padding: 30px 0 0 25px;
		font-size: 16px;
		margin: 40px 0 0;
		list-style-type: none;
		color: $c-primary-text-color;
		background-color: $c-footer-bg;
		width: 100%;
		order: 1;

		@media screen and (min-width: $tablet-width) {
			padding: 0 0 0 25px;
			margin: 0;
			order: 0;
			width: auto;
			background-color: transparent;
		}
	}

	.promo-panel-item {
		position: relative;
		left: 12px;
	}
	.promo-panel-item:before {
		content: "\2022";
		line-height: 0;
		position: absolute;
		top: 0.75em;
		left: -13px;
	}

	.start-panel {
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		text-align: center;
		background-color: $c-panel-bg;
		color: $c-text-color;
		padding: 30px 30px 20px;
		width: 300px;
		margin-top: 25px;
		font-weight: 400;
		@media screen and (min-width: $tablet-width) {
			align-self: flex-end;
		}

		* {
			color: $c-text-color;
		}
	}

	.start-panel-title {
		margin: 0;
		font-weight: 300;
		font-size: 30px;
		text-align: center;
		color: $c-text-color;
	}

	.btn {
		background-color: $c-button-color;
		border-color: $c-button-color;
		color: $c-panel-bg;
		font-size: 16px;
	}

	.sign-section {
		border-top: 1px solid $c-button-color;
		padding: 20px 0 0;
		margin: 20px -30px 0;
	}

	.link {
		margin-left: 15px;
		color: $c-text-color;
		cursor: pointer;
		font-weight: 600;
		&:hover {
			text-decoration: none;
		}
	}

	.landing-footer {
		padding-top: 30px;
		order: 3;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		text-align: center;
		background-color: $c-footer-bg;
		border-bottom: 1px solid $c-partners-border;

		@media screen and (max-width: $tablet-width) {
			padding: 0 $interval;
		}
	}

	.brands {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		justify-content: center;

		@media screen and (min-width: $desktop-width) {
			margin: 20px 60px;
		}

		@media screen and (min-width: $tablet-width) {
			margin: 20px 0px;
			flex-wrap: nowrap;
			padding: 20px;
		}
	}

	.brands-item {
		display: inline-block;
		padding: $interval;
		height: 90px;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (min-width: $tablet-width) {
			width: 25%;
			border-left: 1px solid $c-partners-border;

			&:first-child {
				margin-left: 0;
				border-left: 0;
			}
		}

		@media screen and (max-width: $tablet-width - 1) {
			border-bottom: 1px solid $c-partners-border;
			&:last-child {
				border-bottom: none;
			}
			&:nth-last-child(2):not(:nth-child(even)) {
				border-bottom: none;
			}
			&:nth-child(even) {
				border-left: 1px solid $c-partners-border;
			}
		}
	}

	.brands-item-img {
		background-size: contain;
		background-position-x: 50%;
		width: 80%;
		background-repeat: no-repeat;
		margin: 0 auto;

		.brands-item-img-sizer {
			padding-top: 26.0416667%;
			height: 0;
		}
	}

	.enbd-logo {
		background-image: url(/images/emiratesnbd-logo.png);
	}

	.adcb-logo {
		background-image: url(/images/adcb-logo.png);
	}

	.oman-arabbank-logo {
		background-image: url(/images/oman-arabbank-logo.jpg);
	}

	.emirates-islamic-logo {
		background-image: url(/images/emiratesIslamic-logo.png);
	}

	.rakbak-logo {
		background-image: url(/images/rakbank-logo.png);
	}

	.btn-submit {
		margin: 0 auto;
	}

	.sub-title {
		color: $c-panel-bg;
		font-weight: 400;
		text-align: center;
	}

	.phone-links {
		padding-top: 30px;
		order: 3;
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.btn-google-play {
		background-image: url(/images/google-play-button.png);
		width: 130px;
		height: 45px;
		display: inline-block;
		background-size: 100% 100%;
		cursor: pointer;
	}

	.btn-app-store {
		background-image: url(/images/app-store-button.png);
		width: 130px;
		height: 45px;
		display: inline-block;
		background-size: 100% 100%;
		margin-right: 20px;
		cursor: pointer;
	}

	.app-version {
		width: 100%;
		text-align: center;
		order: 4;
		margin-top: 15px;
		color: $c-app-version-text;
	}
}
