@import "../../../styles/references/references";

.not-found {
	$c-divider-border: $c-desert-storm;
	$c-title-color: $c-lime-green;
	$c-heading-color: $c-black;
	$c-text: $c-dusty-gray;

	display: flex;
	width: 100%;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	.page-title {
		color: $c-title-color;
		font-weight: 500;
		font-size: 45px;
	}
	.page-subtitle {
		font-size: 25px;
		color: $c-heading-color;
	}

	.message {
		margin-top: 60px;
		text-align: center;
		font-size: 18px;
		color: $c-text;
	}


	.contact {
		color: $c-heading-color;
	}
}
