.fade-in-out {

	&-enter {
		opacity: 0.01;
	}

	&-enter.fade-in-out-enter-active {
		opacity: 1;
		transition: opacity 500ms ease-out;
	}

	&-leave {
		opacity: 1;
	}

	&-leave.fade-in-out-leave-active {
		opacity: 0.01;
		transition: opacity 500ms ease-in;
	}
}
