@import "../references/references";

.fa {
	$c-color: $c-biscay;
	$c-hover-color: $c-lynch;
	$c-active-color: $c-bunting;
	$c-disabled-color: $c-athens-gray;
	padding: 5px 5px 5px 0;
	cursor: pointer;
	color: $c-color;

	&:focus {
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	&:hover {
		color: $c-hover-color;
	}

	&:active {
		color: $c-active-color;
	}

	&:disabled {
		border-color: $c-disabled-color;
	}
}

.check-circle-icon {
	$check-mark-color: $c-lime-green;
	$check-mark-bg: $c-white;
	$check-mark-width: calc(1em / 4);
	$check-mark-border-width: 2px;
	$check-mark-left-offset: calc(50% - #{$check-mark-width} / 1.05);

	width: 1em;
	height: 1em;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto;
	border: 1px solid $check-mark-color;
	position: relative;
	background-color: $check-mark-bg;

	.check-mark {
		position: absolute;
		bottom: calc(1em / 5);
		left: $check-mark-left-offset;
		border-right: $check-mark-border-width solid $check-mark-color;
		border-bottom: $check-mark-border-width solid $check-mark-color;
		width: $check-mark-width;
		height: 0.63em;
		transform: translate(-50%) rotate(45deg);
		transform-origin: right bottom;
	}
}
