@import "../../../../styles/references/references";

.unable-to-go-back-modal {
	$c-modal-title-text: $c-white;

	max-width: 600px;
	margin: 0 auto;
	text-align: center;

	.modal-title {
		color: $c-modal-title-text;
	}

	.modal-custom-body {
		padding: 10px 15px;
	}

	.buttons-group {
		display: flex;
		padding: 10px 0;

		.btn {
			margin: 0 auto;
			width: 150px;

			@include mobile {
				width: 100%;
			}
		}
	}
}
