@import "../../../../styles/references/_references";

$c-field-error-border: $c-burnt-sienna;
$c-field-error-color: $c-burnt-sienna;
$c-field-error-box-shadow: rgba($c-burnt-sienna, 0.6);
$c-input-border-focus: $c-slightly-darker;

.field-error {
	input[type=text], .form-control {
		border-color: $c-field-error-border;
	}
	input[type=text]:focus , .form-control:focus {
		border-color: $c-input-border-focus;
		outline: 0;
		-moz-appearance: none;
		box-shadow: none;
	}
}

.field-error-text {
	color: $c-field-error-color;
}
