#prebootOverlay {
  display: none !important;
}

.app-shell {
  width: 100%;
  height: 100%;
  padding-top: 40px;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.nav-bar {
  height: 40px;
  width: 100vw;
  max-width: 800px;
  margin: 0 auto;
}

.nav-link {
  display: inline-flex;
  line-height: 40px;
  height: 100%;
  padding: 0 15px;
  cursor: pointer;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 0 solid #ffa500;
  transition:  border-bottom-width 0.3s ease, background-color 0.3s ease;
  will-change:  border-bottom-width, background-color;

  &:focus, &:active {
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(0,0,0,.2);
    border-bottom-width: 4px;
  }

  &.selected {
    background-color: rgba(0,0,0,.2);
    border-bottom-width: 4px;
  }
}